# Generate with:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64url'))"
NITRO_AUTH_SECRET=replace-with-a-random-secret
# GitHub Settings -> Developer settings -> OAuth Apps -> New OAuth App
# Homepage URL: {BASE_URL}
# Authorization callback URL: {BASE_URL}/api/auth/callback/github
NITRO_AUTH_GITHUB_CLIENT_ID=your-github-oauth-app-client-id
NITRO_AUTH_GITHUB_CLIENT_SECRET=your-github-oauth-app-client-secret

# Use pglite for local development.
NITRO_DATABASE_DRIVER=pglite
NITRO_DATABASE_DATA_DIR=memory://

NITRO_STORE_DRIVER=upstash # or fs-lite
NITRO_STORE_UPSTASH_BASE=replace-with-your-upstash-base-url
